<script type="text/javascript" src="/assets/jquery.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/dashboardframe.css">
<script type="text/javascript" src="/assets/jquery.editinplace.js"></script>

<script>
window.onload = function() {
    parent.iframeLoaded();
}
$(document).ready(function(){
$(".editme").editInPlace({
		callback: function(unused, enteredText) { return enteredText; },
		// url: './server.php',
		saving_image: "/assets/ajax-loader.gif",
		show_buttons: true
	});

});
function setStatus(status,campaignid,campaign_name)
		      {
		      var hostname=window.location.hostname;
		      //alert("http://myappone.com:3000/campaigns/updatestatus?campaignid="+campaignid+"&status="+status);
		      if (window.XMLHttpRequest)
		      {// code for IE7+, Firefox, Chrome, Opera, Safari
			  xmlhttp=new XMLHttpRequest();
		      }
		      else
		      {// code for IE6, IE5
			xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
		      }
		      xmlhttp.onreadystatechange=function()
		      {
		      if (xmlhttp.readyState==4 && xmlhttp.status==200)
		      {
		      //alert(xmlhttp.responseText);
			if(xmlhttp.responseText=="success")
			{
			 
			  $("#statusmsg"+campaignid).html("Status Set!");
			}
			else if(xmlhttp.responseText=="adpaused")
			{
				$("#statusmsg"+campaignid).html("Status Set.  please activate the ads!");
			}
			//alert("#statusmsg"+campaignid.text());
			  $("#statusmsg"+campaignid).fadeIn()
			  $("#statusmsg"+campaignid).fadeOut(1500)
			  //window.parent.document.getElementById("campaignsData").src=window.parent.document.getElementById("campaignsData").src
				if(status == 'pause') {  status = "Paused"; }
				else if(status == 'active') { status = "Active"; }
				else if(status == 'delete') { status = "Deleted"; }
			 // document.getElementById("campname").innerHTML=decodeURIComponent(campaign_name);

			  document.getElementById("campname").innerHTML = campaign_name.replace(/\+/g, ' ');;
			 document.getElementById("statustext").innerHTML=status ;
			  document.getElementById("statusmsg").style.display="block";
			  if(xmlhttp.responseText=="adpaused")
			  {
			  	document.getElementById("activeads").style.display="inline";
			  	
			  }
			  else
			  {
			  	document.getElementById("activeads").style.display="none";
			  }
			  if(status=="Deleted")
			  {
			  	document.getElementById("tr"+campaignid).style.display="none";
			  }
			}
			}
	
			xmlhttp.open("GET","http://"+hostname+":3000/campaigns/updatestatus?campaignid="+campaignid+"&status="+status,true);
			xmlhttp.send();
			}
			function loadAd(campaignId){
			//alert(" /dashboard/<%= session[:site_id] %>?displayType=ads&accessType=site&campaignId=" + campaignId);
			  window.parent.document.getElementById("adsData").src="/dashboard/<%= session[:site_id] %>?displayType=ads&accessType=campaign&campaignId=" + campaignId; 
			  

			//window.parent.frames['adsframe'].location.reload();


			 // window.parent.document.getElementById('adsData').location.reload();
			 window.parent.document.getElementById('ads_summary_table_link').click();
			  //alert( window.parent.document.getElementById('adsData').src);
			  
			}
			function setsrc(str)
			{
				 window.parent.document.getElementById("adsData").src=str;
				 window.parent.document.getElementById('ads_summary_table_link').click()
			}
		</script>	

<style>
table{
  font-size:11px;
}
</style>
<div id="statusmsg" style="display:none;text-align:left;color:green;padding-bottom:10px;">Status has been changed to "<span id="statustext"></span>" for the campaign "<span id="campname"></span>".<span id="activeads" style="display:none;">Please activate the ads!</span></div>
<table style="margin-bottom:0;" class="table table-striped table-bordered summary-table" id="dashboard-ads-table">
		<thead class="widget-header">
			<tr>
				<th class="tbllft" rel="tooltip" data-original-title="Ad name">Campaign</th>
				<th rel="tooltip" data-original-title="Ad preview">Status</th>
				<th rel="tooltip" data-original-title="Budget">Budget</th>
				<th rel="tooltip" data-original-title="Bid Type"><a href="">BidType</a></th>
				<th rel="tooltip" data-original-title="Total impressions">Impressions</th>
				<th rel="tooltip" data-original-title="Total Clicks">Clicks</th>
				<th rel="tooltip" data-original-title="Click-through rate">CTR</th>
				<th rel="tooltip" data-original-title="Cost per thousand impressions">CPM</th>
				<th rel="tooltip" data-original-title="Cost per click">CPC</th>
				<th rel="tooltip" data-original-title="Blended cost per acquisition">CPA</th>
				<!--<th rel="tooltip" data-original-title="Click conversions">CTC</th>
				<th rel="tooltip" data-original-title="Click conversions">CTC%</th>
				<th rel="tooltip" data-original-title="View conversions">VTC</th>
				<th rel="tooltip" data-original-title="View conversions">VTC%</th>-->
				<th rel="tooltip" data-original-title="Total conversions">Conv.</th>
				<th rel="tooltip" data-original-title="Total spend">Spend</th>
			</tr>
		</thead>
		<thead>
<% @CampDataStats.each do |key,camps| %>
<%
   #if @CampDataStats[key]["click"] != 0
	#convRate = @CampDataStats[key]["conversions"] / @CampDataStats[key]["click"]
   #elsif
	#convRate = 0
   #end
   #if @CampDataStats[key]["impressions"].to_i != 0
	#ctr = (@CampDataStats[key]["clicks"].to_i / @CampDataStats[key]["impressions"].to_i)*100
   #elsif
	#ctr = 0
   #end
   #if @CampDataStats[key]["conversions"] != 0
	#cpa = @CampDataStats[key]["cost"] / @CampDataStats[key]["conversions"]
   #elsif
	#cpa = 0
   #end
   ctr = 0
%>
  <tr id="tr<%= key %>">
 
    <td>
    <!--<%= @CampDataStats[key]["campaignDetails"]["campaignName"] %>
    
    onclick='javascript:setsrc("/dashboard/<%= session[:site_id] %>?displayType=ads&accessType=campaign&campaignId=<%= @CampDataStats[key]["campaignDetails"]["campaignId"] %>&campaignName=<%= @CampDataStats[key]["campaignDetails"]["campaignName"] %>");'
    -->
    <a href="/mycampaign/<%= @CampDataStats[key]['campaignDetails']['campaignId'] %>/details" target="_blank" ><%= @CampDataStats[key]["campaignDetails"]["campaignName"] %></a>
    <a href="/campaigns/<%= @CampDataStats[key]['campaignDetails']['campaignId'] %>/edit" target="_blank" class="paulund_modal_1" style="float:right;">
    <i class="icon-pencil"></i>Edit</a></td>
    <td>
<% campName = Rack::Utils.escape(@CampDataStats[key]["campaignDetails"]["campaignName"].to_s) %>
      <div id="statusmsg<%= key %>" style="color:green;display:none;" align="left">Status Set!</div>
      <%= select_tag(:status, options_for_select([['Active', 'active'],['Pause', 'pause'],['Delete','delete']],@CampDataStats[key]["campaignDetails"]["campaignStatus"]),:onchange=>"setStatus(this.value,'#{key}','#{campName}' )") %>
    </td>
    <td id="<%= @CampDataStats[key]['campaignDetails']['campaignId'] %>" class="editme" style="background-color:rgb(255,255,204);">
    <%= @CampDataStats[key]["campaignDetails"]["budget"] %>
    </td>
    <td><%= @CampDataStats[key]["campaignDetails"]["bidType"] %></td>
    <td> <%= @CampDataStats[key]["impressions"] %></td>
    <td> <%= @CampDataStats[key]["clicks"] %> </td>
    <td> <%= @CampDataStats[key]["CTR"] %> </td>
    <td> <%= @CampDataStats[key]["CPM"] %> </td>
    <td> <%= @CampDataStats[key]["CPC"] %> </td>
    <td> <%= @CampDataStats[key]["CPA"] %> </td>
   <!-- <td> <%= "Ctc" %> </td>
    <td> <%= "Ctc %" %> </td>
    <td> <%= "Vtc" %> </td>
    <td> <%= "Vtc %" %> </td>-->
    <td> <%= @CampDataStats[key]["conversions"] %> </td>
    <td> <%= @CampDataStats[key]["cost"] %> </td>
  </tr> 
<% end %>
		</thead>
		<tfoot>
		<% 
		if @CampDataStats.present? 
		if @CampTotals.present? %>
			<tr class="">
				<td class="tbllft"> </td>
<%
   if @CampTotals["totClicks"].to_i != 0
	totconvRate = @CampTotals["totConversions"].to_i / @CampTotals["totClicks"].to_i
   elsif
	totconvRate = 0
   end
   if @CampTotals["totImpressions"].to_i != 0
	# totctr = @CampTotals["totClicks"].to_i * 100 / @CampTotals["totImpressions"].to_i
	totctr = 0
   elsif
	totctr = 0
   end
   if @CampTotals["totConversions"].to_i != 0
	totcpa = @CampTotals["totCost"].to_i / @CampTotals["totConversions"].to_i
   elsif
	totcpa = 0
   end
   
%>
    <td>Total </td>
    <td></td>
    <td></td>
    <td> <%= @CampTotals["totImpressions"] %> </td>
    <td> <%= @CampTotals["totClicks"] %> </td>
    <td> <%= @CampTotals["totCTR"] %> </td>
    <td> <%= @CampTotals["totCPM"] %> </td>
    <td> <%= @CampTotals["totCPC"] %>  </td>
    <td> <%= @CampTotals["totCPA"] %></td>
   <!-- <td> <%= "Ctc" %> </td>
    <td> <%= "Ctc %" %> </td>
    <td> <%= "Vtc" %> </td>
    <td> <%= "Vtc %" %> </td>-->
    <td> <%= @CampTotals["totConversions"] %> </td>
    <td> <%= @CampTotals["totCost"] %> </td>
			</tr>
			<% else %>
			<tr><td colspan="13">No ads present ! </td></tr>
			<% end %>
			<% else %>
			<tr>
				<td colspan="10">
					No Campaigns are present for the site ! Create <a href="/campaigns/new" target="_top">here </a>
				</td>
			</tr>
		<% end %>
		</tfoot>
	</table>

<% session[:dashboardGraphType] = "Campaigns" %>
<% session[:dashboardTotalImpressions] = @CampTotals["totImpressions"] %>
<% session[:dashboardTotalCost] = @CampTotals["totCost"] %>
<% session[:dashboardTotalClicks] = @CampTotals["totClicks"] %>
<% session[:dashboardTotalConversions] = @CampTotals["totConversions"] %>
