<!--<script src="/assets/validations.js" ></script> -->
<!--<script src="/assets/jsfile.js" ></script> -->
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script>
	$( document ).ready(function() {
		var placementnames = new Array();
		<%
			if @placementsBySiteId.present?
				@placementsBySiteId.each do |key, value|
					if params[:placementId].present?
						if @parsed["placementName"] != @placementsBySiteId[key]["placementName"]
							%>
								placementnames.push('<%= @placementsBySiteId[key]["placementName"] %>');
							<%
						end
					else
						%>
							placementnames.push('<%= @placementsBySiteId[key]["placementName"] %>');
						<%
					end
				end
			end
		%>
		$("#selectall").click(function () {
			$('input:checkbox').not(this).prop('checked', this.checked);
		});
		$( "#placement_submit" ).click(function() {
		returnValue = placementsValidation(placementnames);
		if (returnValue == false) {  return false; }
		});
		$("select").change( function(e){
			var id = $(this).attr('id');
			var placementStatus = $(this).val();
			var hostname = "http://"+window.location.hostname+":3000/preview/addplacement";
			var divdata = "Status Set!"
			$.ajax({
				type: "GET",
				url: hostname,
				data: "placementId=" + id + "&placementStatus=" + placementStatus,
				success: function(data){
					// location.reload()
					$( "#div-"+id ).text("Status Set!");
				}
			});
		});
	});
</script>
<script>
	function validate(id,divId) {
		value = $( "#" + id ).val();
		msg = "Please fill in the channel name !";
		if($( "#" + id ).hasClass( "req" )) {
			if(value.trim().length == 0) {
				document.getElementById(divId).innerHTML = msg;
				document.getElementById(divId).style.display = "block";
				return false;
			} else {
				document.getElementById(divId).innerHTML = "";
				document.getElementById(divId).style.display = "none";
			}
		}
	}
$(document).ready(function(){
  $(".adZoomEdit").mouseover(function(e) {
	var div = $(this).parent(".adZoomer");
	div.append("<div class='edit'>Edit</div>");
  });
  $(".adZoomEdit").mouseout(function() {
	$(this).parent(".adZoomer").children(".edit").remove();
  });
  $(".adZoomDelete").mouseover(function(e) {
	var div = $(this).parent(".adZoomer");
	div.append("<div class='delete'>Delete</div>");
  });
  $(".adZoomDelete").mouseout(function() {
	$(this).parent(".adZoomer").children(".delete").remove();
  });
});
</script>
<style>
	.icon-img{ background:url('/assets/nicEditorIcons.gif') no-repeat scroll -17px 0px #FFF;width:20px;height:20px;float:left; }
	.icon-bold { background:url('/assets/nicEditorIcons.gif') no-repeat scroll -53px 0px #FFF;width:20px;height:20px;float:left; }
	.icon-italic { background:url('/assets/nicEditorIcons.gif') no-repeat scroll -125px 0px #FFF;width:20px;height:20px;float:left; }
	.icon-underline { background:url('/assets/nicEditorIcons.gif') no-repeat scroll -341px 0px #FFF;width:20px;height:20px;float:left; }
	.icon-fontcolor { background:url('/assets/nicEditorIcons.gif') no-repeat scroll -35px 0px #FFF;width:20px;height:20px;float:left; }
	.main-adtype { height:20px; margin:10px; }
	.inner-adtype { float:left; margin:0px 10px; }
	.adtype{ float:left; }
	.adtype-text{ margin:3px 20px; }
	.adunit-section{ display:none; }
	.show{ display:block; }
	.template-placeholder { height:325px; margin:5px;}
	.layout-type-class { float:left; padding:3px; margin:5px;}
	.layout-type-class:hover { border: 3px solid #DDDDDD; }
	.selected { border: 3px solid #000000; }
	.selected:hover { border: 3px solid #000000; }
	.controls.side { float:left; }
	#code-table td { vertical-align:top; }

.edit {
background-color: black;
color: white; 
border-radius: 5px 5px 5px 5px; 
margin-top: -36px; 
position: relative; 
right: -13px; 
top: -3px; 
transition: opacity 0.5s ease 0s;
width: 40px; 
margin-left: 8px;
}
.delete {
background-color: black;
color: white; 
border-radius: 5px 5px 5px 5px; 
margin-top: -36px; 
position: relative; 
right: -42px; 
top: -4px;
transition: opacity 0.5s ease 0s;
width: 40px; 
margin-left: 0px;
}

</style>
<!--<link rel="stylesheet" href="/assets/styles.css" type="text/css" /> -->
<div class="span12" id='maindiv'>
<div style='width:95%;padding:25px;'>
<% if params[:type] == "new" %>
<section>
        <header>   <h2>Channel Creation</h2>   </header>
</section>
<section>
<form action="" method="POST">
<table width='100%' id='code-table'>
  <input type='hidden' name='authenticity_token' value="<%= form_authenticity_token() %>" />
	<tr>
		<td align='center'>
			<label for="txtName">Name: </label>
			<input type="text" style="width: 241px; height:33px;" name="placements[name]" id="placmentname" class='req' onblur="validate(this.id,'nameerror')" required  >
			<div class="error" id="nameerror" style="width:30%;" align="center"></div>
		</td>
	</tr>
	<tr>
		<td align='center'>
			<input type="submit" style='width: 241px; height:33px;' id="placement_submit" value="Submit" />
		</td>
	</tr>
</table>
</form>
</section>

<% elsif params[:type] == "edit" %>
<section>
        <header>   <h2>Channel Creation</h2>   </header>
</section>
<section>
<form action="" method="POST">
<table width='100%' id='code-table'>
  <input type='hidden' name='authenticity_token' value="<%= form_authenticity_token() %>" />
	<tr>
		<td align='center'>
			<label for="txtName">Name: </label>
			<input type="text" style="width: 241px; height:33px;" name="placements[name]" value="<%= @parsed['placementName'] %>" id="placmentname" class='req' onblur="validate(this.id,'nameerror')" required  >
			<div class="error" id="nameerror" style="width:30%;" align="center"></div>
		</td>
	</tr>
	<tr>
		<td align='center'>
			<input type="submit" style='width: 241px; height:33px;' id="placement_submit" value="Submit" />
		</td>
	</tr>
</table>
</form>
</section>

<% elsif params[:type] == "viewall" %>
	<%= csrf_meta_tag %>
<section>
        <header>   <h2>View all Channels</h2>   </header>
</section>
<section>
	<div>
<table style="background:#fff;" class="table table-striped table-bordered">
		<thead class="widget-header">
			<tr>
				<th><input type="checkbox" id='selectall' onclick="toggle(this)"></th>
				<th>Name</th>
				<th>Status</th>
				<th>Actions </th>
			</tr>
		</thead>
		<tbody>
<% selectBoxId = 1 %>
<% @parsed.each do |key,adunit| %>
	<tr>
		<td><input type="checkbox" class="selectedId" id="selectBox<%= selectBoxId %>"  onclick="resetSelectAll();" ></td>
		<td><%= adunit["placementName"] %></td>
		<td >
		<div id="div-<%= key %>" style="color: green; text-align:center;width:220px"></div>
			<select id="<%= key %>" style="float:left;">
				<option <% if adunit["placementStatus"] == "Active" %> <%= "selected=selected" %> <% end %> >Active</option>
				<option <% if adunit["placementStatus"] == "Paused" %> <%= "selected=selected" %> <% end %> >Paused</option>
				<option <% if adunit["placementStatus"] == "Delete" %> <%= "selected=selected" %> <% end %> >Delete</option>
			</select>
			
		</td>
		<td  style="text-align:center;">
<div class='adZoomer'>
			<a href="/channels/edit/<%= key %>" class='adZoomEdit' data-original-title="Edit" target="_blank" rel="tooltip">
				<i  class="icon-edit" data-original-title="All Visitors segments cannot be edited"></i>
			</a>
			<a href="/channels/destroy/<%= key %>"  rel="tooltip" class='adZoomDelete' data-original-title="Delete" data-method="delete" data-confirm="Are you sure you want to delete?" >
					<i class="icon-trash"></i>
			</a>
		</td>
	</tr>
<% selectBoxId += 1 %>
<% end %>
		</tbody>
	</table>
	</div>
</section>
<% end %>
		</div>
</div>
